    header {
        height: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header > section:first-of-type
    {
        flex: 1 0 150px;
        box-sizing:border-box;
    }
    header > section:nth-of-type(2)
    {
        flex: 1 0 500px;
        text-align: right;
        font-size: 1.5em;
        padding: 20px 15px 0px 0px;
        box-sizing:border-box;
    }
    header > section:nth-of-type(3)
    {
        margin-top:15px;
        font-size:62.5%;
        display:none;
    }
    header > section:last-of-type
    {
        flex: 0 1 100%;
        padding-bottom: 20px;
        box-sizing:border-box;
    }

    #login>section>form>section
    {
        margin-top:-20px;
        display:block;
    }
    #login>section>form>section>input
    {
        border-radius:5px;
        height: 25px;
        padding-left:10px;
    }
    #login>section>form>section>input:focus
    {
        outline:none;
        border-color:rgba(110,222,239,0.8);
        box-shadow:0 0 10px rgba(110,222,239,0.5);
    }
    #login>section>form>section>input:invalid:focus
    {
        border: 2px solid rgba(192,57,43,1);
        box-shadow:0 0 10px rgba(192,57,43,1);
    }
    #login>section>form>section>input:valid:focus
    {
        border: 2px solid white;
        box-shadow:0 0 10px white;
    }
    #login-btn
    {
        transition:background-color linear 0.5s;
        border-radius:10px;
        width:100px;
        height:30px;
        background-color:rgba(110,222,239,0.8);
        color:white;
        text-shadow:0 0 10px white;
        outline:none;
    }
    #login-btn:hover
    {
        box-shadow:0 0 10px orange;
        background-color:rgba(110,222,239,1);
        transition-duration:0.5s;
        cursor:pointer;
    }
    #login-btn:active
    {
        position:relative;
        top:2px;
    } 
    #signin-user
    {

        border-radius:10px;
        width:100px;
        height:30px;
        background-color:rgba(110,222,239,0.8);
        color:white;
        text-shadow:0 0 10px white;
        outline:none;
        cursor:pointer;
    }
    #login>section>form>a
    {
        font-size:0.5em;
        margin-bottom:0.5em;
        padding-right:0.5em;
        color: orange;
    }
    #signin-user~a
    {
        font-size:1em;
        margin-left:1.7em;
        color: orange;
    }

    fieldset>input { display:block; }
    fieldset>input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    #dialog-form1,#dialog-form2,#dialog-form3 {font-size: 62.5%; display:none}
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }

    body{
        min-width:240px;
        background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #1E4552),
        color-stop(1, #C4D7F2)
        );
        background-image: -o-linear-gradient(bottom, #1E4552 0%, #C4D7F2 100%);
        background-image: -moz-linear-gradient(bottom, #1E4552 0%, #C4D7F2 100%);
        background-image: -webkit-linear-gradient(bottom, #1E4552 0%, #C4D7F2 100%);
        background-image: -ms-linear-gradient(bottom, #1E4552 0%, #C4D7F2 100%);
        background-image: linear-gradient(to bottom, #1E4552 0%, #C4D7F2 100%);
        background-repeat:no-repeat;
    }
    #sign-page
    {
        display:flex;
        flex-flow:column wrap;
        -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
           -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
                box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
        border-radius:10px;
        margin:auto;
        width:700px;
        height:380px;
        padding:5px 10px 20px 10px;
        background-color: #545f60;
    }
    #about-site
    {
        margin:auto;
        width:300px;
    }
    #about-site>h1
    {
        font-family:Copperplate;
        font-size:1.5em;
        color: rgba(255,168,0,1);
    }
    #about-site>p
    {
        font-family:Georgia;
        font-size:1.2em;
        text-align:justify;
        font-weight:400;
        color: white;
    }
    #sign-up
    {
        margin:auto;
        width:200px;
    }
    #sign-up>form>section>p>input
    {
        border:2px solid #dadada;
        border-radius:5px;
        height: 25px;
        padding-left:10px;
    }
    #sign-up>form>section>p>input:focus
    {
        outline:none;
        border-color:rgba(110,222,239,0.8);
        box-shadow:0 0 10px rgba(110,222,239,0.5);
    }
    #sign-up>form>section>p>input:invalid:focus
    {
        border: 2px solid rgba(192,57,43,1);
        box-shadow:0 0 10px rgba(192,57,43,1);
    }
    #sign-up>form>section>p>input:valid:focus
    {
        border: 2px solid white;
        box-shadow:0 0 10px white;
    }
    #sign-up>h1
    {
        font-family:Helvetica;
        color:rgba(110,222,239,1);
    }
    #fbbtn{
		background:none;
    	border: none;
    }
    #login-fb>p
    {
        font-family:Helvetica;
        color:rgba(110,222,239,1); 
    }
    #signup-btn
    {
        transition:background-color linear 0.5s;
        border-radius:8px;
        width:100px;
        height:30px;
        background-color:rgba(110,222,239,0.8);
        color:white;
        text-shadow:0 0 10px white;
        outline:none;
    }
    #signup-btn:hover
    {
        box-shadow:0 0 10px orange;
        background-color:rgba(110,222,239,1);
        width:110px;
        height:30px;
        transition-duration:0.5s;
        cursor:pointer;
    }
    #signup-btn:active
    {
        position:relative;
        top:2px;
    } 
    .warn{
    	color:red;
    }
    .signin-warn
    {
        position:relative;
        right: 11.8em;
        font-family:Georgia;
        color:red;
        font-size:0.5em;
        margin-bottom:0.5em;
        padding-right: 0.5em;
    }
    .wrongType
    {
        border: 2px solid red;
        box-shadow:0 0 18px red;
    }

    @media screen and (max-width:720px)
    {      
        #sign-page
        {
            width:300px;
        }
        #about-site
        {
            display:none;
        }
        #login>section>form>section>input
        {
            width:78px;
        }
        header > section:nth-of-type(2)
        {
            flex: 1 0 290px;
        }
        .signin-warn{
            font-size:0.45em;
            position:relative;
            right: 1.6em;
        }
        #login>section>form>a
        {
            font-size:0.45em;
            padding-right:0em;
        }
    }

    @media screen and (max-width:480px)
    {
        #sign-page
        {
            width:200px;
        }
        header > section:nth-of-type(2)
        {
            display:none;
        }
        header>section:nth-of-type(3)
        {
            display:block;
        }
        .signin-warn{
            position:relative;
            float:left;
            right: 2em;
        }
    }